<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="width: 100vw;height:20vh;background-color: #0b4305;color:white;text-align: center; ">
    Título
</div>
<div style="width: 100vw;height:60vh;background-color:#f6f6f6;color: #343333">
    <p th:text="${text}"></p>

</div>
<div style="color:white;width: 100vw;height: 20vh;background-color: #830303;">
    Copyright
</div>

</body>
</html>
